config/
logs/
code/__pycache__/
code/pg/
code/yundi/Exploration_vs_Exploitation/
code/yundi/pomdpSolver/
img/
whittleValues/
whittleTrajectories/
runtime/
beliefTrajectories/
action_log/
adherence_log/
action_logs/
Tmatrix_logs/
TB\ material/
cum_adherence/
results/
*/despot/
*.POMDP
pg/*
*.err
*.out
pomdp_files/
tmp/
pomdp/
whiteboard.jpg
*.zip
package/
